.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebarWrap {
  flex-shrink: 0;
  height: 100%;
}

.chatWrap {
  flex: 1;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .sidebarWrap {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
  }

  .chatWrap {
    width: 100%;
  }

  .hiddenMobile {
    display: none !important;
  }
}
